{{!--
# Template designed for service messages

## Example query

```SiteTitle:"Driftsmeldinger" AND RefinableDate01>="today"```

## Selected properties

```Title,Description,DefaultEncodingURL,RefinableDate00,RefinableDate01,LastModifiedTime,PzlSeverityOWSCHCS,RefinableString103```

| Property           | Meaning      | 
+--------------------+--------------+
| Title              | Title        |
| Description        | Summary      |
| DefaultEncodingURL | Path         |
| RefinableDate00    | Start date   |
| RefinableDate01    | End date     |
| LastModifiedTime   | Last updated |
| PzlSeverityOWSCHCS | Priority     |
| RefinableString103 | System       |


## URL

https://navno.sharepoint.com/ClientSideAssets/driftsmelding-card.html

--}}
<content id="data-content">
    <style>
        {{#if @root.properties.layoutProperties.showFrame}}
        .feed-container {
            background-color: white;
            box-shadow: {{@root.theme.effects.elevation4}};
            border-radius: {{@root.theme.effects.roundedCorner2}};
            padding: 18px 12px;
            margin-top: {{@root.theme.spacing.s2}};
        }
        .feed-container:hover {
            box-shadow: {{@root.theme.effects.elevation16}};
        }
        {{/if}}
        .feed-container h3 {
            font-weight: {{@root.theme.fonts.xLarge.fontWeight}};
            color: {{@root.theme.semanticColors.HeaderText}};
            font-size: 
                {{#if @root.properties.layoutProperties.showSummary}}
                    {{@root.theme.fonts.mediumPlus.fontSize}}
                {{else}}
                    {{@root.theme.fonts.medium.fontSize}}
                {{/if}};
        }
        .feed-items {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        .feed-item {
            display: block;
            margin: 0px 0px {{@root.theme.spacing.m}};
            padding: 10px 8px;
            color: {{@root.theme.semanticColors.bodyText}};
            text-decoration:none;
            border-radius: {{@root.theme.effects.roundedCorner4}};
            font-size: {{@root.theme.fonts.medium.fontSize}};
            font-weight: {{@root.theme.fonts.medium.fontWeight}};
        }
        .feed-item:hover {
            background-color: rgb(234, 234, 234);
        }
        .feed-item.informasjon {
            border: 1px solid {{@root.theme.semanticColors.bodyDivider}};
        }
        .feed-item.advarsel,
        .feed-item.kritisk {
            background-color: {{@root.theme.semanticColors.warningBackground}};
            border-left: 4px solid {{@root.theme.semanticColors.warningIcon}};
        }
        .feed-item.advarsel:hover {
            background-color: {{@root.theme.semanticColors.warningHighlight}};
        }
        .feed-item.kritisk {
            background-color: {{@root.theme.semanticColors.errorBackground}};
            border-left: 4px solid {{@root.theme.semanticColors.errorIcon}};
        }
        .feed-item.kritisk:hover {
            background-color: {{@root.theme.semanticColors.severeWarningBackground}};
        }
        .feed-item--header {
            margin: 0px;
            font-weight: {{@root.theme.fonts.xLarge.fontWeight}};
            font-size: 
                {{#if @root.properties.layoutProperties.showSummary}}
                    {{@root.theme.fonts.mediumPlus.fontSize}}
                {{else}}
                    {{@root.theme.fonts.medium.fontSize}}
                {{/if}};
            color: {{@root.theme.semanticColors.HeaderText}};
        }
        .feed-item.kritisk .feed-item--label {
            color: {{@root.theme.semanticColors.errorText}};
            background-color: {{@root.theme.semanticColors.errorBackground}};
        }
        .feed-item.advarsel .feed-item--label,
        .feed-item.planlagt .feed-item--label {
            font-weight: {{@root.theme.fonts.medium.fontWeight}};
        }
        .feed-item--label pnp-icon {
            display: inline-block;
            vertical-align: -2px;
        }
        .feed-item--summary {
            margin: {{@root.theme.spacing.s1}} 0px;
        }
        .feed-item--status {
            margin: {{@root.theme.spacing.s2}} 0px 0px;
            color: {{@root.theme.semanticColors.bodySubtext}};
            font-size: {{@root.theme.fonts.small.fontSize}};
            // font-weight: {{@root.theme.fonts.xLarge.fontWeight}};
        }
        .footer-links {
            margin-top:{{@root.theme.spacing.m}};
            display: flex;
            gap: {{@root.theme.spacing.s1}};
        }
        .footer-link {
            text-decoration: none;
            color: {{@root.theme.semanticColors.link}};
            display: inline-block;
            border: 1px solid {{@root.theme.semanticColors.link}};
            padding: {{@root.theme.spacing.s1}};
            border-radius: {{@root.theme.effects.roundedCorner4}};
            // margin: {{@root.theme.spacing.s2}};
        }
        .footer-link:last-of-type {
            margin-bottom: 0px;
        }
        .footer-link:hover {
            background-color: rgb(234, 234, 234);
        }
    </style>
    {{#*inline "driftsmelding"}}
        <li>
            <a class="feed-item {{lowercase this.PzlSeverityOWSCHCS}} {{lowercase planlagt}}" href="{{slot this @root.slots.PreviewUrl}}">
                <h3 class="feed-item--header">
                    {{#if (eq this.PzlSeverityOWSCHCS "Kritisk")}}
                        <span class="feed-item--label"><pnp-icon data-name="Warning" aria-hidden="true"></pnp-icon> Kritisk:</span>
                    {{/if}}
                    {{#if (eq this.PzlSeverityOWSCHCS "Advarsel")}}
                        <span class="feed-item--label">Advarsel:</span>
                    {{/if}}
                    {{slot this @root.slots.Title}}
                </h3>
                {{#if @root.properties.layoutProperties.showSummary}}<p class="feed-item--summary">{{this.Description}}</p>{{/if}}
                <p class="feed-item--status">
                    {{#if planlagt}}
                        Planlagt fra {{getDate this.RefinableDate00 "D. MMM"}}–{{getDate this.RefinableDate01 "D. MMM"}}
                    {{else}}
                        Fra {{chop (getDate this.RefinableDate00 "D. MMM")}}. Oppdatert {{getDate this.LastModifiedTime "D. MMM \k\l. HH.mm"}}.
                    {{/if}}
                </p>
            </a>
        </li>
    {{/inline}}
    <div class="feed-container">
        {{#if data.items.length}}
            {{#withGroupServiceMessages data.items "RefinableDate00" "PzlSeverityOWSCHCS"}}
                {{#if this.active.length}}
                    <ul class="feed-items">
                    {{#each this.active}}
                        {{> driftsmelding}}
                    {{/each}}
                    </ul>
                {{/if}}
                {{#if this.planned.length}}
                    <h3>Planlagt vedlikehold</h3>
                    <ul class="feed-items">
                    {{#each this.planned}}
                        {{> driftsmelding planlagt=1}}
                    {{/each}}
                    </ul>
                {{/if}}
            {{/withGroupServiceMessages}}
        {{else}}
            <p>Ingen aktive eller planlagte driftsmeldinger.</p>
        {{/if}}
        {{#if @root.properties.layoutProperties.showLinks}}
        <div class="footer-links">
            <a class="footer-link" href="https://navno.sharepoint.com/sites/intranett-driftsmeldinger">
                Vis tidligere driftsmeldinger
            </a>
            <a class="footer-link" href="https://jira.adeo.no/plugins/servlet/desk">
                Meld feil i Porten
            </a>
        </div>
        {{/if}}
    </div>
</content>
<content id="placeholder-content">
</content>